*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.calc{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px auto;
    height: 250px;
    width: 250px;
    border: 1px solid rgb(60, 60, 102);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 5px 15px rgb(60, 60, 102);
}

.result-display{
    background-color: rgb(165, 75, 75);
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    padding: 20px;
    grid-column: span 4;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btn1{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(60, 60, 102);
}

.btn2{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(60, 60, 102);
    border-bottom-left-radius: 2px;
}

.equal{
    grid-row-start: 3;
    grid-column-start: 4;
    grid-row-end: span 4;
    background-color: rgb(210, 101, 129);
    font-family: Arial, Helvetica, sans-serif;
    border: 0 solid whitesmoke;
    border-bottom-right-radius: 4px;
}



