*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 200px;
    border: 1px solid black;
    margin: 2rem;
    border-radius: 2px;
}

img{
    height: 150px;
    width: 200px;
    margin-bottom: 1rem;
    background-color: grey;
}

.par-1{
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    margin-bottom: 1rem;
    padding: 5px;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
}
